:root {
--basic-light-gray: #EEEEEE;
--basic-gray: #DFDFDF;
--basic-dark-gray: #D5D5D5;
--basic-white:	#FFFFFF;
--basic-light-green: #00CA74;
--basic-green: #00BC6C;
--basic-dark-green: #00AA62;
--basic-light-yellow: #EFC84A;
--basic-yellow: #EAB534;
--basic-dark-yellow: #E5A722;
--basic-light-red:#FB565A;
--basic-red: #E74246;
--basic-dark-red: #D7373B;
--basic-black: #000000;
--basic-light-black: #283136;
}

body {
min-width: 1178px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--basic-light-black:);
margin: 0;
padding: 0;
background-color: var(--basic-white);
}

a {
text-decoration: none;
}

img{
max-width: 100%;
height: auto;
}

.page {
height: 100%;
}
.page-body{
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}

.main-header  {
display: flex;
flex-direction: column;
align-items: center;
outline: 5px solid rgba(0, 255, 0, 0.3);
outline-offset: -5px;
}

.main-header .logo {
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
}

.main-header .basket {
outline: 5px solid rgba(255, 255, 255, 0.3);
outline-offset: -5px;
}

.main-header .site-navigation{
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.visually-hidden {
display: none;
}

p,
span {
position: absolute;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}

.main-header {
font-size: heritage;
line-height: 30px;
color: var(--basic-black);
background-color: var(--basic-light-gray);
}

.main-header a:hover {
color: var(--basic-light-red);
}

.main-header a:focus {
color: var(--basic-black);
opacity: 0.3;
}

.slogan {
background-color: var(--basic-light-gray);
  padding-top: 50px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}

.slogan .content {
  padding-bottom: 80px;
  padding-top: 78px;
  padding-left: 140px;
}

.slogan p {
  position: absolute;
  width: 538px;
  height: 111px;
  left: 140px;
  top: 192px;
font-weight: 500;
font-size: 55px;
line-height: 55px;
color: var(--basic-black:);
}

.slogan a {
width: 240px;
height: 50px;
padding-top: 38px;
position: absolute;
}

.slogan span {
position: absolute;
width: 400px;
height: 49px;
padding-top: 25px;
}

.products {
padding-top: 80px;
padding-bottom: 80px;
padding-left: 140px;
padding-right: 200px;
outline: 5px solid rgba(255, 255, 255, 0.3);
outline-offset: -5px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 100px;
margin: 0;
}

.products h2 {
text-align: left;
font-size: 24px;
line-height: 30px;
font-weight: bold;
padding-top: 25px;
}

.slogan a,
.products a{
position: absolute;
border-radius: 3px;
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: var(--basic-white);
}

.products .div {
display: grid;

}

.products a{
width: 160px;
height: 50px;
padding-top:32px;
align-items: center;
text-align: center;
text-transform: uppercase;
}


.slogan a,
.products .first-button,
.price {
background-color:  var(--basic-light-red);
}

.slogan a:hover,
.products .first-button:hover,
.price:hover{
background-color:  var(--basic-red);
}

.slogan a:focus,
.products .first-button:focus,
.price:focus{
background-color:  var(--basic-dark-red);
color: var(--basic-white);
opacity: 0.3;
}

.products .second-button {
background-color:  var(--basic-light-green);
}

.products .second-button:hover {
  background-color: var(--basic-green)
}

.products .second-button:focus {
background-color: var(--basic-dark-green);
color: var(--basic-white);
opacity: 0.3;
}

.products .third-button{
background-color: var(--basic-light-yellow);
}

.products .third-button:hover {
background-color: var(--basic-yellow);
}

.products .third-button:focus {
background-color: var(--basic-dark-yellow);
color: var(--basic-white);
opacity: 0.3;
}

.info {
padding-top: 73px;
padding-bottom: 73px;
padding-left: 140px;
outline: 5px solid rgba(0, 255, 0, 0.3);
outline-offset: -5px;
}

.info span  {
padding-bottom: 40px;
position: absolute;
}

.info .paragraph {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.info p{
font-weight: 500;
font-size: 45px;
line-height: 45px;
padding-bottom: 32px;
}

.container {
  outline: 5px solid rgba(255, 255, 0, 0.3);
  outline-offset: -5px;
}

.points {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

footer {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 75px;
  padding-left: 140px;


}
.social span{
  padding-top: 10px;
}

.social .icon a{
background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
position: absolute;
width: 81px;
height: 81px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 9px;
}

.social .icon a:hover{
background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social .icon a:focus{
background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.price {
position: absolute;
width: 200px;
height: 50px;
border-radius: 3px;
color: var(--basic-white);
}

.submit{
background-color: var(--basic-light-gray);
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: var(--basic-black);
position: absolute;
width: 260px;
height: 50px;
border-radius: 3px;
}

.submit:hover{
background-color: var(--basic-gray);
}

.submit:focus{
background-color: var(--basic-dark-gray;);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.title {
  align-items: center;
 background-color: var(--basic-light-gray);
 padding-top: 72px;
 padding-bottom: 108px;
 padding-left: 348px;
 padding-right: 347px;
 margin: 0;
}

.shop:not(.title) {
display: flex;
}

.filter {
  width: 260px;
}

.list {
margin: 0;
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 41px;
}
